span {
  line-height: 2em;
}

.gradeable-hint {
  visibility: hidden;
  padding: 0px 30px;
  border: solid 1px #dadcde;
  border-radius: 12px;
  white-space: nowrap;
}

.correct {
  color: green;
  font-weight: bold;
}

.wrong {
  color: red;
  font-weight: bold;
}

.extra {
  color: red;
  font-weight: bold;
  text-decoration: line-through;
}
