.form-control {
    border: 1px solid #dadcde;
}

span {
    line-height: 2em;
}

.container{
	margin: 50px 50px;
	padding: 20px 20px;
}
.gradeable-textbox {
    display: inline-block;
    width: auto;
    min-width: 149px !important;
    font-size: 17px;
    min-height: 26px;
    height: 26px;
    padding: 0 5px;
}


.gradeable-textbox-area {
    display: inline-block;
    position: relative;
    padding: 5px 0;
	
}

.gradable-hint {
    position: absolute;
    bottom: 35px;
    left: 140px;
    display: inline-block;
    background: #fff;
    padding: 0px 30px;
    line-height: 0;
    border: solid 1px #dadcde;
    border-radius: 12px;
    white-space: nowrap;
}

